* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.section {
  background-image: url('/bg-croatia.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
}

.title {
  text-align: center;
  position: relative;
  top: 10vh;
  opacity: 0.75;
}

.dateCounter {
  text-align: center;
  position: relative;
  top: 20vh;
  font-size: 10vh;
  font-weight: 400;
  opacity: 0.75;
}
